	{template header}
<meta http-equiv="Pragma" content="no-cache">
<div class="main">
<link href="{SITE_ROOT}/views/{TPLDIR}/css/site.css" rel="stylesheet"  type="text/css" />
<link type="text/css" rel="stylesheet" href="{SITE_ROOT}/views/{TPLDIR}/css/tuan.css">
   <div class="main_bg_top"></div> 
  <div class="main_box" style="background:url({SITE_ROOT}/views/{TPLDIR}/imgs/user_center_logo.gif) no-repeat 10px top;">
 	<div style="height:40px;clear:both;border-bottom:1px solid #ccc;width:940px;margin:auto;"></div>

	 <div class="sitelist">

<div class="usermenu">
<div><h2>团购站主</h2></div>
<ul>
<li><A HREF="{eval echo url('user','addgroup');}" target="group">新建团购信息</A></li>
<li><A HREF="{eval echo url('user','grouplist');}" target="group">管理团购信息</A></li>
</ul>
<div><h2>系统管理</h2></div>
<ul>
<li><A HREF="{eval echo url('user','baseinfo');}" target="group">基本信息管理</A></li>
<li><A HREF="{eval echo url('user','account');}" target="group">帐户管理</A></li>
</ul>


</div>
<div class="infoarea"><iframe src="{eval echo url('user','grouplist');}" name="group" frameborder="0" height="500px" width="100%"></iframe></div>
       
    </div>
    <div style="clear:both;">
    
	 </div>
	 <div class="go_top"><a href="#"><img src="{SITE_ROOT}/views/{TPLDIR}/imgs/go_top.gif" /></a></div>
    <div style="clear:both;overflow:hidden;"></div>
  </div>
  <div class="main_bottom"></div>
</div>
{template footer}