<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head> 
<meta http-equiv="Pragma" content="no-cache">
<Meta http-equiv="refresh" content="{$time};url='{$url}'">

<meta content="text/html; charset={$GLOBALS[charset]}" http-equiv="Content-Type">

<title>无标题文档</title>
<link type="text/css" rel="stylesheet" href="{SITE_ROOT}/views/{TPLDIR}/css/tuan.css">
</head><body>

<div style="margin:100px;font-size:16px;">页面将在<strong class="total-money">{$time}</strong>秒后转向>> 
<A HREF="{$url}">{$message}</A>
</div>
</body></html>