	{template header}
<meta http-equiv="Pragma" content="no-cache">
<div class="main">
<link href="{SITE_ROOT}/views/{TPLDIR}/css/site.css" rel="stylesheet"  type="text/css" />
<link type="text/css" rel="stylesheet" href="{SITE_ROOT}/views/{TPLDIR}/css/tuan.css">
   <div class="main_bg_top"></div> 
  <div class="main_box" style="background:url({SITE_ROOT}/views/{TPLDIR}/imgs/all_site_logo.gif) no-repeat 10px top;">
 	<div style="height:40px;clear:both;border-bottom:1px solid #ccc;width:940px;margin:auto;"></div>
	 <div class="sitelist">
        <!--{loop $site $key $val}-->
		<div class="mod">
		<div class="mHd"><h2><!--{if !$GLOBALS[city][$key][cityname]}-->ÆäËü<!--{else}-->{$GLOBALS['city'][$key][cityname]}<!--{/if}--></h2></div>
		<div class='mBd'>
		<div class="mBdInt">
		<ul class="sites">
		<!--{loop $val $k $v}--><li><A HREF="{$v[siteurl]}" target="_blank" style="{$val[css]}">{$v[sitename]}</A></li><!--{/loop}-->
		</ul>
		<div style="clear:both;"></div>
		</div>
		</div>
		</div>
		<!--{/loop}-->
    </div>
    <div style="clear:both;">
    
	 </div>
	 <div class="go_top"><a href="#"><img src="{SITE_ROOT}/views/{TPLDIR}/imgs/go_top.gif" /></a></div>
    <div style="clear:both;overflow:hidden;"></div>
  </div>
  <div class="main_bottom"></div>
</div>
{template footer}