td, th {
color:#333;
font-family:ו;
font-size:12px;
}
.t001 {
background-color:#EBEBEB;
}
.t002 {
background-image:url("../imgs/002.jpg");
border-style:solid;
border-width:0;
color:#FFFFFF;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
height:26px;
width:53px;
}
.manage_xg {
background-image:url("../imgs/002.jpg");
border-style:solid;
border-width:0;
color:#FFFFFF;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
height:26px;
width:53px;
}
.manage_del {
background-image:url("../imgs/002.jpg");
border-style:solid;
border-width:0;
color:#FFFFFF;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
height:26px;
width:53px;
}
.t003 {
text-align:center;